@import '../../index.scss';

.Body-el {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    overflow: hidden;
    padding-top: 0.5em;
  }
}

@media (min-width: 35em) {
  .Body-el {
    height: 100%;
    width: 50%;
  }
}
