@import '../../index.scss';

.Header {
    height: 50%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-image: url(../../assets/images/bg-about.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba($clr-secondary, 0.7);
    background-blend-mode: multiply;
}

@media (min-width: 55em){
    .Header {
        height: 100%;
        max-width: 50%;
        border-radius: 10px 0 0 10px;
    }
}